.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

.cabecalho__img-logo {
    width: 10%;
}

.cabecalho__container-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho__container-barra-pesquisa {
    border: 1px solid rgba(128, 128, 128, 0.201);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    width: 400px;
}

.cabecalho__botao-pesquisa {
    padding: 0.3em 1em;
    border: 1px solid rgba(128, 128, 128, 0.201);
}

.cabecalho__barra-pesquisa {
    border: none;
    font-size: 1em;
    width: 80%;
}


.cabecalho__container-navegacao-usuario {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cabecalho__icone {
    width: 24px;
}

#cabecalho__icone-avatar-usuario {
    width: 32px;
}