.cabecalho {
    background-color: var(--branco-background-cabecalho);
    padding: 1em 1.2em;
    position: fixed;
    top: 0;
}

.cabecalho__navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__img-logo {
    width: 40%;
}

.cabecalho__navegacao-usuario {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
}